# Foundry Configuration File
# Default definitions: https://github.com/gakonst/foundry/blob/b7917fa8491aedda4dd6db53fbb206ea233cd531/config/src/lib.rs#L782
# See more config options at: https://github.com/gakonst/foundry/tree/master/config

# The Default Profile
[profile.default]
solc_version = '0.8.17'
auto_detect_solc = false
optimizer = true
optimizer_runs = 1_000_000
fuzz_runs = 1_000
viaIR = true
remappings = [
  "@forge-std=lib/forge-std/src/",
  "@solbase=lib/solbase/src/",
  "@solbasetest=lib/solbase/test/",
]

# Extreme Fuzzing CI Profile :P
[profile.ci]
fuzz_runs = 100_000
